@import "tailwindcss/theme.css" layer(theme);

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 330px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 940px;
  --breakpoint-xl: 1350px;
  --text-*: initial;
  --text-000: clamp(0.740625rem, 0.7275rem + 0.0637vw, 0.78125rem);
  --text-00: clamp(0.833125rem, 0.7994rem + 0.1637vw, 0.9375rem);
  --text-0: clamp(0.9375rem, 0.8768rem + 0.2941vw, 1.125rem);
  --text-1: clamp(1.055rem, 0.9596rem + 0.4627vw, 1.35rem);
  --text-2: clamp(1.18625rem, 1.0459rem + 0.6804vw, 1.62rem);
  --text-3: clamp(1.335rem, 1.1381rem + 0.9549vw, 1.94375rem);
  --text-4: clamp(1.501875rem, 1.2331rem + 1.3029vw, 2.3325rem);
  --text-5: clamp(1.689375rem, 1.3303rem + 1.7412vw, 2.799375rem);
  --text-6: clamp(1.900625rem, 1.4287rem + 2.2882vw, 3.359375rem);
  --text-7: clamp(2.138125rem, 1.5256rem + 2.9696vw, 4.03125rem);
  --text-8: clamp(2.405625rem, 1.6188rem + 3.8147vw, 4.8375rem);
  --text-9: clamp(2.70625rem, 1.7037rem + 4.8608vw, 5.805rem);
  --text-10: clamp(3.03125rem, 1.7584rem + 6.1716vw, 6.965625rem);
  --text-11: clamp(3.78875rem, 1.6342rem + 10.4461vw, 10.448125rem);
  --text-12: clamp(3.78875rem, 0.3638rem + 16.6059vw, 14.375rem);
  --font-*:initial;
  --font-sans: Satoshi,Inter,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  --font-mono: DM Mono,monospace;
  --font-weight-*:initial;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --leading-*: initial;
  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.2;
  --leading-standard: 1.4;
  --leading-loose: 1.7;
  --radius-*: initial;
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
  --spacing-*: initial;
  --spacing-xl: clamp(3.0625rem, 2.9210rem + 0.6863vw, 3.5rem);
  --spacing-xs: clamp(0.4375rem, 0.4173rem + 0.0980vw, 0.5rem);
  --spacing-s: clamp(0.875rem, 0.8346rem + 0.1961vw, 1rem);
  --spacing-m: clamp(1.3125rem, 1.2518rem + 0.2941vw, 1.5rem);
  --spacing-l: clamp(2.1875rem, 2.0864rem + 0.4902vw, 2.5rem);
  --spacing-xl: clamp(3.0625rem, 2.9210rem + 0.6863vw, 3.5rem);
  --spacing-2xl: clamp(3.5rem, 3.3382rem + 0.7843vw, 4rem);
  --spacing-3xl: clamp(4.375rem, 4.1728rem + 0.9804vw, 5rem);
  --spacing-4xl: clamp(6.5625rem, 6.2592rem + 1.4706vw, 7.5rem);
  --spacing-xs-l: clamp(0.4375rem, -0.2298rem + 3.2353vw, 2.5rem);
  --spacing-m-l: clamp(1.3125rem, 0.9283rem + 1.8627vw, 2.5rem);
  --spacing-2xl-4xl: clamp(3.5rem, 2.2059rem + 6.2745vw, 7.5rem);
  /* custom */
  --gutter: var(--spacing-m-l);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --stroke-dashed: 1px dashed var(--color-mid);
  --stroke-solid: 1px solid var(--color-mid);
}


